<h1>Books#index</h1>

<p>
<%= link_to "Back to Authors", authors_path   %> 
</p>

<h3>All books for <%= @author.name  %> </h3>
<ul>
	
<% @author.books.each do |book|  %> 
<li>Title: <%= book.title  %> <%= link_to("Show Book", [@author, book]) %></li>
<% end %> 
</ul>

<p>
<%= link_to "Add Book", new_author_book_path %> 
</p>